@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  transition: all ease-in-out;
  animation-duration: 1000ms;
  font-family: "Space Mono", monospace !important;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth !important;
  overflow-y: scroll;
}

.scroll-container {
  scroll-behavior: smooth !important;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 2px;
  height: 10px;
}

*::-webkit-scrollbar-track {
  background: rgb(179, 179, 179);
}

*::-webkit-scrollbar-thumb {
  background: #838383;
  border-radius: 30px;
  border: 3px none #636060;
}


@layer components {
  input[type="checkbox"]:checked~label span svg {
    @apply inline-flex;
  }

  .sticky .header-logo {
    @apply py-5 lg:py-2;
  }

  .sticky .menu-scroll.active {
    @apply opacity-70;
  }

  input#togglePlan:checked~.dot {
    @apply translate-x-full;
  }

  input#checkboxLabel:checked~.box span {
    @apply opacity-100;
  }
}